<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Files.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Files.Properties.Systems" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Files.Properties.Data" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Files.Properties.Tem" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
		<Files.Properties.Settings>
      <setting name="ApplicationPath" serializeAs="String">
          <value />
      </setting>
      <setting name="KeyActive" serializeAs="String">
          <value />
      </setting>
      <setting name="PublicIP" serializeAs="String">
          <value />
      </setting>
      <setting name="IPServer" serializeAs="String">
          <value />
      </setting>
  </Files.Properties.Settings>
  <Files.Properties.Systems>
      <setting name="IsFirstRun" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="IsActive" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="IsEndActive" serializeAs="String">
          <value />
      </setting>
  </Files.Properties.Systems>
        <Files.Properties.Data>
            <setting name="DataServer" serializeAs="String">
                <value />
            </setting>
            <setting name="DataUser" serializeAs="String">
                <value />
            </setting>
            <setting name="DataName" serializeAs="String">
                <value />
            </setting>
            <setting name="DataPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DataPort" serializeAs="String">
                <value />
            </setting>
        </Files.Properties.Data>
        <Files.Properties.Tem>
            <setting name="tem_vang" serializeAs="String">
                <value />
            </setting>
            <setting name="tem_bac" serializeAs="String">
                <value />
            </setting>
            <setting name="tem_app_gia" serializeAs="String">
                <value />
            </setting>
            <setting name="tem_tan_trang" serializeAs="String">
                <value />
            </setting>
            <setting name="tem_vang_ap_gia" serializeAs="String">
                <value />
            </setting>
        </Files.Properties.Tem>
    </userSettings>
</configuration>