<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Files.Properties.FilePath" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Files.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Files.Properties.Systems" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Files.Properties.Data" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Files.Properties.Tem" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
		<Files.Properties.FilePath>
      <setting name="_applicaion_path" serializeAs="String">
          <value />
      </setting>
      <setting name="_temp_path" serializeAs="String">
          <value />
      </setting>
  </Files.Properties.FilePath>
  <Files.Properties.Settings>
      <setting name="key_active" serializeAs="String">
          <value />
      </setting>
      <setting name="public_ip" serializeAs="String">
          <value />
      </setting>
      <setting name="server_ip" serializeAs="String">
          <value />
      </setting>
  </Files.Properties.Settings>
  <Files.Properties.Systems>
      <setting name="is_first_run" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="is_active" serializeAs="String">
          <value>False</value>
      </setting>
  </Files.Properties.Systems>
        <Files.Properties.Data>
            <setting name="data_server" serializeAs="String">
                <value />
            </setting>
            <setting name="data_user" serializeAs="String">
                <value />
            </setting>
            <setting name="data_name" serializeAs="String">
                <value />
            </setting>
            <setting name="data_password" serializeAs="String">
                <value />
            </setting>
            <setting name="data_port" serializeAs="String">
                <value />
            </setting>
        </Files.Properties.Data>
        <Files.Properties.Tem>
            <setting name="tem_vang" serializeAs="String">
                <value />
            </setting>
            <setting name="tem_bac" serializeAs="String">
                <value />
            </setting>
            <setting name="tem_app_gia" serializeAs="String">
                <value />
            </setting>
            <setting name="tem_tan_trang" serializeAs="String">
                <value />
            </setting>
            <setting name="tem_vang_ap_gia" serializeAs="String">
                <value />
            </setting>
        </Files.Properties.Tem>
    </userSettings>
</configuration>